* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

#home .wave {
  height: 85vh;
  z-index: 5;
  margin: 0;
}

.wave {
  transform: rotate(180deg);
  left: 0;
}

#home,
#experience,
#contact,
#details {
  /* background-color: rgba(0, 0, 0, 0.01); */
  background-color: #transparent;
  position: relative;
  width: 100%;
  z-index: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
#home,
#contact {
  color: white;
}

/* #contact {
  background-color: #140a42;
} */

h1 {
  text-align: center;
  font-style: normal;
}

.intro h1 {
  /* text-align: left; */
  font-size: 2.1rem;
  font-weight: 800;
}
.intro h3 {
  font-size: 3.5rem;
}

.intro {
  position: absolute;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  padding-left: 7%;
  padding-right: 5%;
  width: 60%;
}

.intro h1,
.intro h3 {
  line-height: 1.7;
}

.highlight {
  font-style: normal;
  /* color: #43c3fa; */
  color: #e64100;
}

.highlight2 {
  font-style: normal;
  color: #000000;
}

#action-btn {
  margin-top: 10px;
  position: relative;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
  background: none;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  outline: 0;
  z-index: 1;
}

#action-btn:hover {
  color: white;
}

#action-btn::before {
  content: "";
  /* background abs relative to action-btn */
  position: absolute;
  background: #e64100;
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.3s ease-in;
}

#action-btn:hover::before {
  right: 0;
}
.navbar {
  /* margin: 0; */
  position: sticky;
  z-index: 3;
  background-color: #1b1b1b;
  padding: 10px 2%;
}

.nav-link {
  color: white !important;
  opacity: 50% !important;
}

.navbar #brand,
.nav-link:hover {
  color: #e64104 !important;
  transition: 0.5s;
}
.active {
  color: #e64104 !important;
}
.socials {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.socials a img {
  width: 42px;
  height: 42px;
  float: left;
  margin-left: 15px;
  margin-right: 15px;

  /* filter: invert(3%) sepia(75%) saturate(7209%) hue-rotate(254deg)
    brightness(87%) contrast(100%); */
  /* Target colour to filter values: https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(15%) sepia(82%) saturate(4795%) hue-rotate(335deg)
    brightness(86%) contrast(118%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.socials a img:hover {
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); */
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/*EXPERIENCE*/
#experience {
  mix-blend-mode: multiply;
}
.experience-cards {
  padding: 0 12%;
}
#experience h1 {
  padding: 20px 0 50px;
  color: #1b1b1b;
  /* color: #e64100; */
}

.exp-title {
  color: #1b1b1b;
  size: 2rem;
  font-weight: 600;
  transition: 0.4s;
}

.exp-role {
  color: black;
}

#experience .exp-card {
  background-color: rgba(0, 0, 0, 0.02);
  border: 0.5px solid #1b1b1b;
  border-bottom: 4px solid #1b1b1b;
  position: relative;
  display: block;
  margin-bottom: 50px;
  box-shadow: 0 0 0.1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  transition-property: box-shadow, transform;
}

.exp-card:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  text-decoration: none !important;
}

/* .exp-card .card-body {
  background-color: #1b1b1b;
  border-radius: 0 0 5px 5px;
} */

.col-md-4.col-sm-6 {
  padding: 0;
}
.exp-card .exp-langs {
  color: #e64100;
  font-size: 14px;
}

.status {
  position: relative;
  display: inline-block;
  padding: 7px;
  float: right;
  background: #1b1b1b;
  color: white;
  border-radius: 3px;
}

/*CONTACT*/
#contact .wave {
  height: 100vh;
}

#contact {
  height: 100vh;
  position: relative;
  display: block;
  text-align: center;
  overflow-y: hidden;
}

#contact form {
  margin: 0;
  position: absolute;
  width: 290px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#contact input,
#contact textarea {
  border: 1px solid rgba(252, 252, 252, 0.651);
  background-color: rgba(252, 252, 252, 0.1);
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

::placeholder {
  color: white;
  opacity: 0.6;
}

#contact button {
  padding: 10px 15px;
  color: #e64100;
  border-color: #e64100;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  margin: 0 auto 10px auto;
}

.submitted {
  color: #e64100;
}

#details {
  padding: 5px 10% 5% 10%;
}

#details .date {
  color: #e64100;
}

#details h1,
h5 {
  color: #1b1b1b;
  display: inline-block;
}

#details .details-img {
  width: 50%;
  border-radius: 5px;
  float: right;
  /* border: 2px solid #1b1b1b; */
  box-shadow: 3px solid #1b1b1b;
}

#details .details-desc {
  width: 50%;
  padding: 0 50px 20px 0;
}

#details .details-desc:after,
#details .details-img:after {
  clear: both;
}

#details hr {
  border-top: 4px solid #1b1b1b;
  width: 70px;
}

@media only screen and (max-width: 1045px) {
  .intro {
    width: 100%;
  }
  .blob-inner {
    /* transform: translate(-10%, -35%); */
    top: -25vh;
    right: -70%;
  }
  .intro h1 {
    font-size: 2.3rem;
    font-weight: 600;
  }
  .intro h3 {
    font-size: 1.2rem;
  }
  .intro {
    padding-left: 12%;
  }
  .experience-cards {
    padding: 0 5%;
  }
}

@media only screen and (max-width: 700px) {
  .intro h1 {
    font-size: 1.7rem;
    font-weight: 600;
  }
  .intro h3 {
    font-size: 1rem;
  }
}
